@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
#root {
  max-width: 1280px;
  margin: 0 ;
  text-align: center;
}
html,

body {
  font-family: 'Montserrat' !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
@font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap') format('opentype');
  font-weight: 400;
  /* Regular */
  font-style: italic;
}
